.img-logo {
  /* background-color: black; */
  padding-top: 100px;
  padding-bottom: 50px;
}

.about-div {
  padding-top: 50px;
  padding-bottom: 200px;
  background-color: black;
  /* background-color: #536878; */
  border-radius: 0px;
}

.contact-div {
  /* background-color: #36454f; */
  background-color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0px;
}

.contact-text {
  color: black;
}

.icon-style {
  padding-right: 10px;
  padding-left: 10px;
}

.filler-div {
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;
}
.twitter {
  color: #1da1f2;
}

.twitter:hover {
  color: #1d88ca;
}

.youtube {
  color: #c4302b;
}

.youtube:hover {
  color: #ad2a26;
}

.itchio {
  color: #fa5c5c;
}

.itchio:hover {
  color: #e05353;
}

.header-text {
  font-family: "Rubic Dirt";
  color: white;
  padding-left: 5px;
}

.write-text {
  font-family: "Noto Sans Mono", monospace;
  font-size: 22px;
}

.social-media {
  padding-top: 0px;
  font-size: 10px;
}

#about-p {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-indent: 75px;
  line-height: 1.75;
  color: white;
}

#email-text {
  font-size: 17px;
}

.newsletter-padding {
  padding-right: 180px;
}
