.img-logo {
  /* background-color: black; */
  padding-top: 100px;
  padding-bottom: 50px;
  border-radius: 100px;
}

.about-div {
  padding-top: 50px;
  padding-bottom: 200px;
  border-radius: 100px;
  background-color: #536878;
}

.contact-div {
  background-color: #36454f;
  padding-top: 200px;
  padding-bottom: 200px;
  border-radius: 100px;
}

.contact-text {
  color: white;
}

.icon-style {
  padding-right: 10px;
  padding-left: 10px;
}

.filler-div {
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;
}
.twitter {
  color: #1da1f2;
  text-decoration: none;
}

.youtube {
  color: #c4302b;
  padding-left: 25px;
}

.itchio {
  color: #fa5c5c;
  padding-left: 25px;
}

.header-text {
  font-family: "Rubic Dirt", cursive;
  color: white;
  padding-left: 5px;
}

.write-text {
  font-family: "Noto Sans Mono", monospace;
  font-size: 22px;
}

.social-media {
  padding-top: 0px;
}

#about-p {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-indent: 75px;
  line-height: 1.75;
  color: white;
}

#email-text {
  font-size: 17px;
}
